# Ignore node modules
node_modules/

# Ignore development-related files
*.log
*.swp
*.bak
*.tmp

# Ignore Git related files
.git/
.gitignore

# Ignore other unnecessary files
.env
.env.template
README.md