# misc
.DS_Store
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
yarn.lock

# IDE
/.idea/

#Django
backend/static_django/
venv/

#Database
db.sqlite3
config.bat
node_modules
