#backend
/static
/env
/venv
/chat_app/__pycache__
/chat_app/migrations/__pycache__
/project/__pycache__
/auth_app/__pycache__
/auth_app/migrations/__pycache__
/user_app/__pycache__
/user_app/management/__pycache__
/user_app/management/commands/__pycache__
/user_app/migrations/__pycache__
.idea
/db.sqlite3
/backup230224.sql
.env
/media
/ai_model_app/migrations/__pycache__
/ai_model_app/__pycache__
/agent_app/__pycache__
/agent_app/migrations/__pycache__
/message_app/__pycache__
/message_app/migrations/__pycache__
/ai_agent_profile_app/__pycache__
/ai_agent_profile_app/migrations/__pycache__
/user_agent_profile_app/__pycache__
/user_agent_profile_app/migrations/__pycache__
/admin_app/__pycache__
/admin_app/migrations/__pycache__