// 
// user chat.scss
//

// user chat

.user-chat {
    background-color: var(--#{$prefix}white);
    box-shadow: 0 2px 4px rgba(15,34,58,.12);
    transition: all 0.4s;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    height: 100%;

    @media (max-width: 991.98px) {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        visibility: hidden;
        transform: translateX(100%);
        z-index: 3;

        &.user-chat-show{
            visibility: visible;
            transform: translateX(0);
        }
    }    
}

.user-chat-wrapper {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.user-chat-conversation {
    flex-grow: 1;
    overflow-y: auto;
    height: 1px;
}

.user-chat-conversation-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.user-chat-conversation-list-item {
    display: block;
    padding: 0 0 24px 0;
    margin: 0;
    display: flex;
    flex-direction: row;
}

.user-chat-conversation-list-item.right{
    justify-content: flex-end;
}

.user-chat-message {
    padding: 12px 20px;
    background-color: $chat-secondary-bg;
    border-radius: 8px 8px 8px 0;
    color: var(--#{$prefix}dark);
}

.right .user-chat-message {
    background-color: $chat-primary-bg;
    color: $white;
    border-radius: 8px 8px 0px 8px;
    justify-content: flex-end;
}

.user-chat-message-formatting {
    word-wrap: break-word;
    white-space: pre-wrap;
    overflow-x: auto;
}

.user-chat-topbar{
    @media (max-width: 991.98px) {
        position: fixed;
        left: 0;
        right: 0;
        top: 0;
        z-index: 1;
    }
}

.user-chat-nav {
    font-size: 24px;
    .nav-btn {
        height: 40px;
        width: 40px;
        line-height: 40px;
        box-shadow: none;
        padding: 0;
        font-size: 20px;
        color: var(--#{$prefix}secondary-color);
    }
    @media (max-width:575.98px) {
        display: flex;
        justify-content: flex-end;
    }
}

.user-chat-header {
    font-size: 20px;
}

.user-chat-back {
    display: block;
}

.user-chat-delete {
    display: block;
}

.user-chat-new {
    .user-chat-conversation {
        position: relative;

        h1 {
            text-align: center; 
            position: absolute;
            top: 40%;
            width: 100%;
        }
    }
}

.chat-input {
    background-color: var(--#{$prefix}white);
    position: relative;
    
    textarea {
        border-radius: 0;
        padding-right: 53px;

        @media (max-width: 991.98px) {
            padding-right: 43px;
        }
    }

    button {
        position: absolute;
        right: 20px;
        bottom: 10px;

        @media (max-width: 991.98px) {
            right: 15px;
        }
    }

    &-section{
        background-color: $card-bg;
        @media (max-width: 991.98px) {
            position: fixed;
            left: 0;
            right: 0;
            bottom: 0;
            z-index: 1;
        }
    }
    
    &-links{
        .list-inline-item:not(:last-child){
            margin: 0;
        }
    }
}

.animate-typing {
	.dot {
		display: inline-block;
		width: 4px;
		height: 4px;
		border-radius: 50%;
		margin-right: -1px;
		background: $white;
        animation: wave 1.3s linear infinite;
        opacity: 0.6;

		&:nth-child(2) {
			animation-delay: -1.1s;
		}

		&:nth-child(3) {
			animation-delay: -0.9s;
		}
	}
}

@keyframes wave {
	0%, 60%, 100% {
		transform: initial;
	}

	30% {
		transform: translateY(-5px);
	}
}

