// 
//  User profile details.scss
//

// User profile details

.user-profile {
    background-color: $sidebar-sub-bg;
    display: flex;
    flex-direction: column;
    height: 100%;
    flex-grow: 1;

    .user-status-box {
        background-color: var(--#{$prefix}light);
        padding: 8px;
        border-radius: 8px;
        text-align: center;
        margin-top: 16px;
        display: block;

        .chat-user-img {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
        }
    }

    .user-profile-wrapper {
        flex-grow: 1;
        display: flex;
        flex-direction: column;
    }

    .user-profile-sroll-area {
        flex-grow: 1;
        overflow-y: auto;
        height: 1px;
    }
}