//Import Icon css
@import "./icons.scss";

//light mode
@import "./bootstrap.scss";
@import "./app.scss";

#root {
  height: 100%
}

.auth-layout { 
  display: flex;
  flex-direction: column;
  height: 100%;
}

.auth-layout-alert {
  margin-bottom: 0;
  @media (min-width: 992px) {
    text-align: center;
  }
}

.auth-layout-content {
  flex-grow: 1;
  height: 1px;

  @media (min-width: 992px) {
    flex-direction: row;
    display: flex;
  }
  
  position: relative;
}

.nav-item {
  cursor: pointer;
}

.dropdown {
  cursor: pointer;
}

.w-70 {
  width: 73% !important;
}

.ctext-wrap-content {
  animation: flyIn 0.6s ease-in-out;
}

.blank-div {
  width: 36px;
  height: 36px;
}

.profile-user-dropdown {
  .dropdown-item {
    &.active {
      color: $white;
      text-decoration: none;
      background-color: $primary;
    }
  }
}

.close {
  background: transparent;
  border: 0;
  font-size: 30px;
  margin: 10px;
  position: absolute;
  top: 0;
  right: 0;
  opacity: 0.5;
  width: 1em;
  height: 1em;
  z-index: 2;
}

.input-group-text {
  background-color: var(--#{$variable-prefix}gray-200);
}

.bg-soft-light {
  background-color: var(--#{$variable-prefix}light-rgb) !important;
}

[data-layout-mode="dark"] {
  .auth-logo {
    .logo-dark {
      display: none;
    }
    .logo-light {
      display: block;
    }
  }
}

.profile-user-dropdown{
  &.dropup {
    .dropdown-menu{
      bottom: 51px;
      top: auto !important;
      &.show {
        top: auto !important;
      }
    }
  }
}